/* ============ General Styles ============ */
@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  font-weight: 400;
  src: url("../fonts/FuturaPT-Regular.woff2") format("woff2"),
    url("../fonts/FuturaPT-Regular.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  font-weight: 500;
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2"),
    url("../fonts/FuturaPT-Medium.woff") format("woff");
}
@font-face {
  font-display: swap;
  font-family: "FuturaPT";
  font-weight: 700;
  src: url("../fonts/FuturaPT-Bold.woff2") format("woff2"),
    url("../fonts/FuturaPT-Bold.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  font-family: "FuturaPT", sans-serif;
  font-weight: 500;
  color: #333;
  background-image: url("../images/bg.png");
  background-color: #f9f8f8;
}
img {
  display: block;
}
main {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.container {
  max-width: 1350px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
/* ============ Header Styles ============ */

.header__address {
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* justify-content: space-between; */
}
.contact {
  padding: 11px 0px 9px 193px;
}
.contact__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  color: #333;
  text-decoration: none;
  margin-right: 96px;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.contact__address:hover {
  color: #ffbd54;
}
.contact__address:active {
  color: #333;
  opacity: 0.6;
}
.contact__address::before {
  display: inline-block;
  margin-right: 9px;
  content: "";
  background-image: url("../images/addres-icon.svg");
  width: 14px;
  height: 13px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  /* width: 197px; */
  padding-left: 0;
  list-style: none;
  margin-right: 98px;
}
.contact__item {
  margin-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.contact__item:nth-child(1)::before {
  display: inline-block;
  margin-right: 9px;
  content: "";
  background-image: url("../images/phone-icon.svg");
  width: 13px;
  height: 13px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact__item:nth-child(2)::before {
  display: inline-block;
  margin-right: 9px;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffbd54;
  border-radius: 50%;
}
.contact__item:nth-child(3)::before {
  display: inline-block;
  margin-right: 9px;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ffbd54;
  border-radius: 50%;
}
.contact__link {
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.contact__link:hover {
  color: #ffbd54;
}
.contact__link:active {
  color: #333;
  opacity: 0.6;
}
.contact__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 0;
  list-style: none;
}
.contact__time::before {
  content: "";
  display: inline-block;
  background-image: url("../images/calendar-icon.svg");
  width: 14px;
  height: 14px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.time__item {
  margin-left: 7px;
}
.time__item:nth-child(2) {
  margin-left: 17px;
}
.time__hour {
  font-size: 14px;
  line-height: 18px;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.header__bottom {
  background-color: #fff;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 61px;
}
.logo__img {
  position: relative;
  top: -2px;
  left: 0px;
  -webkit-transition: opasity 0.4s ease;
  -o-transition: opasity 0.4s ease;
  transition: opasity 0.4s ease;
}
.logo__img:hover {
  opacity: 0.8;
}
.logo__img:active {
  opacity: 0.6;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 723px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
  list-style: none;
}
.menu::before {
  display: inline-block;
  content: "";
  background-image: url("../images/fish-icon.svg");
  width: 20px;
  height: 16px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 13px;
}
.menu__item {
  margin-left: 55px;
}
.menu__item:nth-child(6n + 1) {
  margin-left: 0;
}
.menu__link {
  /* display: inline-block; */
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}
.menu__link:hover {
  /* padding-bottom: 4px; */
  border-bottom: 4px solid #f4ffad;
}
.menu__link:active {
  opacity: 0.6;
}
.header__question {
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  /* text-align: right; */
  color: #333333;
}
.header__paw {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__paw::before {
  content: "";
  display: inline-block;
  margin-right: 5px;
  background-image: url(../images/paw-icon.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 23px;
  height: 24px;
}
.header__question:hover {
  display: inline;
  margin-bottom: -4px;
  border-bottom: 4px solid #f4ffad;
}
.header__question:active {
  opacity: 0.6;
}
/* ============ Main Styles ============ */

/* ============ Intro Section Styles ============ */

.intro {
  display: inline-block;
  width: 100%;
  background-image: url("../images/animals-img.png"),
    url("../images/parrot-img.png");
  background-repeat: no-repeat;
  height: 835px;
  background-position: calc(50% - 500px) calc(50% - 183px),
    calc(50% + 655px) calc(50% + 239px);
  background-size: contain, 319px;
  padding-bottom: 100px;
}
.intro__wrapper {
  width: 608px;
  /* padding: 153px 32px 253px 607px; */
  margin-left: auto;
  margin-right: 32px;
  padding-top: 153px;
}
.intro__title {
  font-weight: 700;
  font-size: 70px;
  line-height: 64px;
  color: #333333;
}
.intro__different {
  color: #78c0de;
}
.intro__content {
  width: 495px;
}
.intro__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #949494;
  margin-top: 29px;
  margin-bottom: 38px;
}
.link {
  display: inline-block;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  background-color: #333;
  padding: 15px 48px;
  border-radius: 3px;
  text-decoration: none;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.link--intro:hover {
  background-color: #ffbd54;
  color: #333;
}
.link--intro:active {
  opacity: 0.6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ============ Reference Section Styles ============ */

.reference {
  padding-bottom: 191px;
}
.reference__wrapper {
  position: relative;
  width: 753px;
  margin: 0 auto;
}

.reference__wrapper::before {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  left: 37%;
  top: 0;
}
.reference__wrapper::after {
  content: "";
  position: absolute;
  width: 140px;
  height: 1px;
  background-color: #dbdbdb;
  left: 37%;
  bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.quote {
  position: relative;
  font-weight: 400;
  padding: 43px 0 35px 0;
  font-size: 20px;
  line-height: 26px;
  text-align: center;
  color: #949494;
}

.quote::before {
  content: "";
  position: absolute;
  width: 142px;
  height: 128px;
  right: 93%;
  top: 0;
  background-repeat: no-repeat;
  background-image: url(../images/quote-top.svg);
}
.quote::after {
  content: "";
  position: absolute;
  width: 142px;
  height: 128px;
  right: -24%;
  top: 78px;
  background-repeat: no-repeat;
  background-image: url(../images/quote-bottom.svg);
}

.reference__cite {
  padding-top: 35px;
  font-style: normal;
  display: block;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: #333333;
  text-align: center;
}

/* ============ Services Section Styles ============ */

.services__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 54px;
  color: #333333;
  text-align: center;
  padding-bottom: 80px;
}
.services__wrapper {
  position: relative;
  margin: 0 44px 127px 44px;
}
.services__button {
  width: 50px;
  height: 50px;
}
.services__button:hover {
  background-color: #fff;
}
.services__button:active {
  opacity: 0.6;
}
.services__button--left {
  position: absolute;
  top: 80px;
  left: -63px;
  background-image: url("../images/left-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  border: none;
  background-color: transparent;
}
.services__button--right {
  position: absolute;
  right: -60px;
  top: 80px;
  background-image: url("../images/right-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
  border: none;
  background-color: transparent;
}
.services__list {
  padding-left: 0;
  list-style: none;
}
.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1223px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 193px;
  padding: 30px 32px 28px 35px;
  background-color: #fff;
  border-radius: 5px;
  margin-left: 13px;
  -webkit-transition: opacity 0.2s ease;
  -o-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease;
}

.list__item:hover {
  opacity: 0.8;
}
.list__item:active {
  opacity: 0.6;
}
.list__link {
  text-decoration: none;
}
.list__title {
  font-weight: 500;
  margin-top: 23px;
  line-height: 22px;
  text-align: center;
  color: #333333;
}
.list__item--doctor {
  border-radius: 5px 5px 0px 0px;
  margin-left: 0;
  margin-bottom: -15px;
}
.list__item--doctor::before {
  display: inline-block;
  content: "";
  background-image: url(../images/doctor-svg.svg);
  width: 54px;
  height: 78px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list__item--woman::before {
  display: inline-block;
  content: "";
  background-image: url(../images/woman-with-pet.svg);
  width: 62px;
  height: 77px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list__item--treatment::before {
  display: inline-block;
  content: "";
  background-image: url(../images/pet-gets-treatment.svg);
  width: 72px;
  height: 77px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list__item--dermatology::before {
  display: inline-block;
  content: "";
  background-image: url(../images/dermatology-dog.svg);
  width: 76px;
  height: 76px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list__item--laboratory:before {
  display: inline-block;
  content: "";
  background-image: url(../images/laboratory.svg);
  width: 78px;
  height: 78px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.list__item--treat::before {
  display: inline-block;
  content: "";
  background-image: url(../images/treatment.svg);
  width: 78px;
  height: 78px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.services__inner {
  margin-top: 14px;
  background-color: #fff;
  padding: 41px 105px 41px 35px;
}
.inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.inner__banner {
  border-radius: 5px;
}
.inner__wrapper {
  width: 492px;
}
.inner__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 20px;
  color: #333;
  margin-bottom: 18px;
}
.inner__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
}
.inner__text--first {
  margin-bottom: 9px;
}
.inner__links {
  margin-top: 34px;
}

.inner__link {
  position: relative;
  padding-left: 63px;
}
.inner__link--orange {
  margin-right: 21px;
  background-color: #ffbd54;
}
.inner__link--orange::before {
  position: absolute;
  top: 15px;
  left: 30px;
  display: inline-block;
  width: 21px;
  height: 21px;
  content: "";
  background-image: url("../images/money.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inner__link--orange:hover {
  background-color: #333;
  color: #ffbd54;
}
.inner__link--orange:active {
  opacity: 0.6;
}
.inner__link--black {
  padding-right: 37px;
}
.inner__link--black::before {
  position: absolute;
  top: 15px;
  left: 30px;
  display: inline-block;
  width: 21px;
  height: 21px;
  content: "";
  background-image: url("../images/record.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.inner__link--black:hover {
  background-color: #ffbd54;
  color: #333;
}
.inner__link--black:active {
  opacity: 0.6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ============ Section Subscription Styles ============ */
.subscription {
  background-image: url("../images/subscribe-dog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 632px;
}
.subscription__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 280px;
}
.subscription__title {
  font-weight: 700;
  font-size: 48px;
  color: #ffffff;
  padding-right: 72px;
}

.form {
  margin-top: 32px;
}
.form__input {
  width: 335px;
  height: 50px;
  border-radius: 5px;
  border: 2px solid transparent;
  padding-left: 18px;
  margin-right: 32px;
}
.form__input:focus {
  outline: 2px solid #ffbd54 !important;
}
.form__input:focus::-webkit-input-placeholder {
  color: #333;
}
.form__input:focus::-moz-placeholder {
  color: #333;
}
.form__input:focus:-ms-input-placeholder {
  color: #333;
}
.form__input:focus::-ms-input-placeholder {
  color: #333;
}
.form__input:focus::placeholder {
  color: #333;
}
.form__input:invalid {
  outline: 2px solid #dc4d41 !important;
  color: #dc4d41;
}

.form__button {
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 13px 53px 12px 51px;
  background: #333;
  border-radius: 3px;
  border: 2px solid transparent;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}
.form__button:hover {
  background-color: #ffbd54;
  color: #333;
}
.form__button:active {
  opacity: 0.6;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* ============ Section Article Styles ============ */
.article {
  padding-top: 151px;
  padding-bottom: 165px;
}
.article__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 20px;
  color: #333333;
  text-align: center;
  padding-bottom: 80px;
}

.article__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}
.article__item {
  background-color: #ffffff;
  border: 1px solid #f3f3f3;
  border-radius: 5px;
}
.article__item:not(:first-child) {
  margin-left: 24px;
}
.article__item:first-child {
  margin-left: 6px;
}
.article__item:last-child {
  margin-right: 6px;
}
.article__item--center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.article__item:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.article__block {
  width: 328px;
  padding: 21px 31px 14px 30px;
}

.block__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-size: 14px;
  line-height: 18px;
  color: #949494;
  margin-bottom: 3px;
}
.block__wrapper {
  width: 182px;
}
.block__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 29px;
}
.hashtags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 133px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.hashtags__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #3d9cea;
}
.block__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 25px;
  color: #000000;
}
.block__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  margin-top: 10px;
  margin-bottom: 38px;
}
.block__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.block__link::before {
  content: "";
  display: inline-block;
  background-image: url("../images/paw-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 23px;
  height: 21px;
  margin-right: 5px;
}
.block__link:hover {
  color: #ffbd54;
}

.block__link:active {
  color: #333;
  opacity: 0.6;
}
/* ============ Section Feedback Styles ============ */

.feedback {
  padding-top: 100px;
  /* width: 1700px; */
  padding-bottom: 147px;
  /* background-color: #333; */
}
.feedback__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
}
.feedback__iframe {
  width: 650px;
  display: block;
}

.feedback__form {
  background-image: url("../images/feedback__banner.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #333;
  width: 978px;
}
.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 165px;
  padding-top: 62px;
  padding-right: 428px;
  padding-bottom: 74px;
}
.question__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 62px;

  color: #ffffff;
}
.question__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #949494;
  padding-top: 14px;
  padding-bottom: 29px;
}
.question__input {
  display: inline-block;
  width: 375px;
  height: 50px;
  padding-left: 22px;
}

.question__input--email {
  margin-top: 14px;
  margin-bottom: 14px;
}

.question__textarea {
  padding-left: 22px;
  padding-top: 16px;
  padding-bottom: 16px;
  height: 165px;
}
.question__button {
  width: 228px;
  background-color: #ffbd54;
  margin-top: 30px;
  font-size: 16px;
  line-height: 21px;
  color: #ffffff;
  padding: 15px 49px 14px 50px;
  border: none;
  -webkit-transition: background-color 0.4s ease;
  -o-transition: background-color 0.4s ease;
  transition: background-color 0.4s ease;
}

.question__input:focus {
  outline: 2px solid #ffbd54 !important;
}
.question__input:focus::-webkit-input-placeholder {
  color: #333;
}
.question__input:focus::-moz-placeholder {
  color: #333;
}
.question__input:focus:-ms-input-placeholder {
  color: #333;
}
.question__input:focus::-ms-input-placeholder {
  color: #333;
}
.question__input:focus::placeholder {
  color: #333;
}
.question__textarea:focus {
  outline: 2px solid #ffbd54 !important;
}
.question__textarea:focus::-webkit-input-placeholder {
  color: #333;
}
.question__textarea:focus::-moz-placeholder {
  color: #333;
}
.question__textarea:focus:-ms-input-placeholder {
  color: #333;
}
.question__textarea:focus::-ms-input-placeholder {
  color: #333;
}
.question__textarea:focus::placeholder {
  color: #333;
}

.question__button:hover {
  opacity: 0.8;
}
.question__button:active {
  opacity: 0.6;
}
/* ============ Footer Styles ============ */
.footer {
  background-color: #f3f3f3;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* justify-content: space-between; */
  padding-top: 54px;
  padding-bottom: 21px;
}
.footer__logo {
  margin-right: -20px;
}
.footer__logo:hover {
  opacity: 0.8;
}
.footer__logo:active {
  opacity: 0.6;
}
.footer__list {
  padding-left: 0;
  list-style: none;
}
.footer__item {
  margin-left: 87px;
  min-width: 115px;
}
.footer__link {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  text-decoration: none;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}
.footer__link:hover {
  color: #ffbd54;
}
.footer__link:active {
  color: #333;
  opacity: 0.6;
}
.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 669px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 157px;
}
.footer__item--space {
  margin-top: 14px;
  margin-bottom: 14px;
}
.footer-inner__list {
  padding-left: 0;
  list-style: none;
}
.footer-inner__item--decorative:before {
  display: inline-block;
  content: "";
  background-image: url("../images/calendar-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-right: 14px;
}
.footer-inner__item--dec {
  padding-left: 38px;
}
.footer-inner__time-hour {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
  margin-bottom: 4px;
}
.map::before {
  display: inline-block;
  content: "";
  background-image: url("../images/addres-icon.svg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  width: 17px;
  height: 16px;
  padding-bottom: 20px;
  margin-right: 9px;
}
.map__address {
  display: inline-block;
  width: 157px;
  font-style: normal;
  text-decoration: none;
  font-size: 16px;
  line-height: 21px;
  color: #333333;
  -webkit-transition: color 0.4s ease;
  -o-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

.map__address:hover {
  color: #ffbd54;
}
.map__address:active {
  color: #333;
  opacity: 0.6;
}
.footer__phone {
  padding-left: 0;
  list-style: none;
}
.phones__item--dc:before {
  display: inline-block;
  content: "";
  background-image: url("../images/phone-icon.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
  padding-right: 9px;
}
.phones__item--mc {
  padding-left: 30px;
}

.phones__link {
  display: inline-block;
  margin-bottom: 4px;
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #333333;
}
.phones__link:hover {
  color: #ffbd54;
}
.phones__link:active {
  color: #333;
  opacity: 0.6;
}
.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: right;
  color: #5c5c5c;
  padding-bottom: 23px;
}
